.main
  .main_left
    .main_left_group
      .name
        = current_user.name
        .icon_edit
          = link_to edit_user_path(current_user),class: "icon_cog" do
            = icon('fas','cog')
      .main_left_group_target
        長期目標
      .main_left_group_answer
        アンサー
      .main_left_group_target2
        短期目標
      .main_left_group_answer2
        アンサー
      .main_left_group_sendbox
        .main_left_group_sendbox_send
          SEND
  .main_left_right
    .main_left_right_tweet
      .main_left_right_tweet_look
    .main_left_right_coment