.main
  .main_left
    .main_left_group
      .main_left_group_box1
        長期目標
      .main_left_group_box1_answer
        アンサー
      .main_left_group_box2
        短期目標
      .main_left_group_box2_answer
        アンサー
      .main_left_group_send
        send
  .main_right